header {
  color: $grey-8;
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 1.2rem 0 0;
}

.header-more {
  float: right;
}

.header-link {
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: $breakpoint) {
  header {
    margin: .8rem 0 0;
  }
}
