header {
  font-size: 2.4rem;
  margin: 2.4rem 0 0;
}

.header-link {
  margin-right: 1.2rem;

  &:last-of-type {
    margin: 0;
  }
}

@media (max-width: $breakpoint) {
  header {
    font-size: 1.2rem;
    margin: 1.2rem 0 0;
  }
}
