.kanban {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.word-list {
  margin-right: .8rem;
  width: 50%;

  &:last-of-type {
    margin: 0;
  }
}

.word-item {
  color: $grey-8;
  display: flex;
  line-height: 1.2;
  margin-top: .8rem;
}

.word-text {
  position: relative;
  top: 0;
  vertical-align: bottom;
  width: 100%;

  .word-text-icon {
    display: none;
    float: right;
    font-size: .8rem;
    margin-right: .4rem;
  }

  &:hover {
    .word-text-icon {
      display: block;
    }
  }
}

.word-input {
  text-align: left;
}

::placeholder {
  font-size: .8rem;
}

.word-input-box {
  background-color: $white;
  border: 0;
  border-radius: 4px;
  color: $grey-8;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.word-input-btn {
  background-color: $white;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  height: 1.6rem;
  text-align: left;
  width: 100%;
}

@media (max-width: $breakpoint) {
  .kanban {
    display: block;
  }

  .word-list {
    width: 100%;
  }

  .word-item {
    width: 100%;
  }

  .word-text {
    top: 2px;
  }

  .word-input {
    width: 100%;
  }

  .word-input-box {
    margin: 0;
  }
}
